@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
    size: A4;
    margin: 0;
}


@layer base {
    body {
      font-family: theme('TWK Lausanne.body');
      
    }
  
    h1, h2, h3, h4, h5, h6, p, a, button, table {
      font-family: theme('TWK Lausanne.display');
      
    }
  }


  @font-face {
    font-family: 'TWKLausanne';
    src: url('assets/fonts/TWKLausanne-600.woff2') format('woff2');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'TWKLausanne';
    src: url('assets/fonts/TWKLausanne-300.woff2') format('woff2');
    font-weight: 300;
  }

  body {
    margin: 0;
  }

  * {
    /* text-box: trim-both cap alphabetic; */
    font-family: 'TWK Lausanne' sans-serif;
  }

 
  .text-button {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }

  .text-h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight:600;


  }
  
  
  .text-h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;

   
  }
  

  .text-h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

  }
  
  
  .text-body {
    font-size: 14px;
    line-height: 20px;

  }


  .text-subheading-number {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
  }
  
  

  .page {
    width: 210mm;
    min-height: 297mm;
    box-sizing: border-box;
    page-break-after: always;
    break-after: page;
    padding: 40px;

  }

  tr {
    break-inside: avoid;
  }


  .index-grid-wines {
    display: grid;
    grid-template-columns: max-content max-content max-content 1fr max-content;
    column-gap: 1.5rem;
    row-gap: 1rem;
    align-items: baseline;
  }


  
  .index-header-row {
    display: contents;
    gap:4px;
  }
  .index-header-row span {
    background: #140a0a;
    color: #fffdf1;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0.125rem 0.5rem;
    display:flex;
    border-radius: 4px
  }


.producer-inner-number {
  padding:0!important;
  font-size: 9px!important;
  margin-top: 3px!important;
}

.status-badge-index {
  font-size: 12px!important;
  text-transform: uppercase;
  color: rgb(35, 196, 124, 1);
  /* margin-left: 8px; */
  display:inline-flex;
  padding: 0!important;
  border-radius: 5px;
  /* border: 1px solid rgb(35, 196, 124, 1); */
  font-weight: 300px;
  gap: 6px;
  align-items:center;
  align-self:center;
}

.badge-dot {
  width: 4px;
  height: 4px;
  background-color: rgb(35, 196, 124, 1)!important;
  border-radius: 100px;
}

.badge-icon {
  margin-top:-2px;
  color: rgb(35, 196, 124, 1)!important;
  width: 10px;
  height: 10px;
}
  .index-row {
    display: contents;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  .index-row span {
    padding: 0.125rem 0.5rem;
    font-size: 16px;
  }

  .index-cell-page {
    font-size: 14px!important;
    color: #140a0a;
    font-weight: 300;
    opacity: 0.4;
  }

  .index-cell-country {
    padding-left: 0.5rem;
  }

  .index-cell-producer {
    display: block;
    position: relative;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .index-cell-region {
    padding-right: 1rem;
    padding-left: 0.5rem;
  }
  .index-page-number {
    float: right;
  }
  .index-grid {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    row-gap: 0.25rem;
    column-gap: 0.25rem;
    align-items: center;
  }
  
  .index-row-link {
    display: grid;
    grid-template-columns: subgrid; /* inherits the parent grid's column tracks */
    grid-column: 1 / -1;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

.text-muted {

   color: #140a0a!important;
   opacity: 0.4;

  } 