@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
    size: A4;
    margin: 0;
}

@layer base {
    body {
      font-family: theme('TWK Lausanne.body');
      
    }
  
    h1, h2, h3, h4, h5, h6, p, a, button, table {
      font-family: theme('TWK Lausanne.display');
      
    }
  }

  body {
    margin: 0;
  }

  * {
    text-box: trim-both cap alphabetic;
    font-family: 'TWK Lausanne' sans-serif;
  }

 
  .text-button {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }

  .text-h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight:600;


  }
  
  
  .text-h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;

   
  }
  

  .text-h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

  }
  
  
  .text-body {
    font-size: 14px;
    line-height: 20px;

  }


  .text-subheading-number {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
  }
  
  

  .page {
    width: 210mm;
    min-height: 297mm;
    box-sizing: border-box;
    page-break-after: always;
    break-after: page;
    padding: 40px;

  }

  tr {
    break-inside: avoid;
  }


  .index-grid-wines {
    display: grid;
    grid-template-columns: max-content max-content max-content 1fr max-content;
    column-gap: 1.5rem;
    row-gap: 1rem;
    align-items: baseline;
  }


